<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactos en mongo</title>
</head>
<body>
    <h1>Aplicacion con mongo_DB</h1>
        <form class="formulario_contacto" action="agregar" method="post">
            <input type="text" placeholder="nombre" name="nombre">
            <input type="text" placeholder="numero" name="numero">
            <input type="text" placeholder="direccion" name="direccion">
            <input type="text" placeholder="email" name="email">
            <input type="submit" value="Agregar Contactos">
        </form>            
</body>
</html>